VITE_SUPABASE_URL=https://tvlyfoelvgoixeneqfro.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2bHlmb2VsdmdvaXhlbmVxZnJvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3NDU1MzIsImV4cCI6MjA5MzMyMTUzMn0.R54UiDhj7m0vTUih-4r03m_-Mm84COxFjNhG5PmLimA